<div class="masthead">

  <div class="wrapper clearfix">

    <div class="masthead__search">
      <form action="#" method="get">
        <div class="search-form">
          <input type="search" placeholder="Search UCL websites, people and more" class="search-form__input search-form__input--search" value="">
        </div>

        <input type="submit" name="sumbit" value="Go" class="btn search-form__input search-form__input--submit" />
      </form>
    </div>

    <nav class="masthead__nav m-clear">
      <ul class="masthead__list">
        <li class="masthead__item"><a href="//www.ucl.ac.uk/" class="masthead__link">UCL Home</a>
        </li>
        <li class="masthead__item"><a href="//www.ucl.ac.uk/prospective-students/" class="masthead__link">Prospective students</a>
        </li>
        <li class="masthead__item"><a href="//www.ucl.ac.uk/students/" class="masthead__link">Current students</a>
        </li>
        <li class="masthead__item"><a href="//www.ucl.ac.uk/staff/" class="masthead__link">Staff</a>
        </li>
      </ul>
    </nav>

  </div>

</div><!-- end .masthead -->
